<div class="blog-posts" ng-cloak>
  <!--<div ng-show="loggedIn" style='margin-bottom: 20px;'>Posts are: {{ vm.list() }}</div>-->

  <div class="panel panel-default" ng-repeat="post in vm.list()">
    <div class="panel-heading">
      <h3 class="panel-title">{{ post.title }}</h3>
    </div>
    <div class="panel-body">
      {{ post.body }}
    </div>
    <div class="panel-body">
      <a ng-show="loggedIn" href="/#/admin/posts/{{ post.id }}">Edit</a>
      <a ng-hide="loggedIn" href="/#/posts/{{ post.id }}">Read</a>
      <a ng-show="loggedIn" href="javascript:;" ng-click="vm.deletePost( post.id )">Delete</a>
    </div>
  </div>

  <a ng-show="loggedIn" href="/#/admin/posts/">New Post</a>
</div>
